.btn {
    padding: 10px 36px;
    border: 1px solid #3F51B5;
    border-radius: 4px;
    outline: none;
    background: #03A9FA;
    color: white;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}