.header {
    background: #68c93e;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.troley {
    position: relative;
}

.troley img {
    width: 30px;
}

.count {
    background: red;
    padding: 10px;
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    left: -13px;
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    width: 320px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    justify-content: space-between;
}

.img-thumb-prod{
    width: 30px;
}

.product-title {
    margin: 0;
    min-height: 50px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .6px;
}

.product-price {
    margin: 0;
    font-size: 13px;
    letter-spacing: .7px;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #f5a623;
}

.minus {
    width:25px;
    background-color:yellow;
}

.plus {
    width:25px;
    background-color:yellow;
}